<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/botlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/botlogo_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.SnapSmart">

        <activity
            android:name=".activity.scan.PreScanPhotosActivity"
            android:theme="@style/Base.Theme.SnapSmart"
            android:exported="false"/>
        <activity
            android:name=".activity.scan.ScanPhotosActivity"
            android:theme="@style/Base.Theme.SnapSmart"
            android:exported="false" />
        <activity
            android:name=".activity.scan.PostScanPhotosActivity"
            android:theme="@style/Base.Theme.SnapSmart"
            android:exported="false" />
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:theme="@style/Base.Theme.SnapSmart"
            android:exported="false" />
        <activity
            android:name=".activity.bucketize.PreBucketizeActivity"
            android:theme="@style/Base.Theme.SnapSmart"
            android:exported="false" />
        <activity
            android:name=".activity.bucketize.BucketizeActivity"
            android:theme="@style/Base.Theme.SnapSmart"
            android:exported="false" />
        <activity
            android:name=".activity.bucketize.PostBucketizeActivity"
            android:theme="@style/Base.Theme.SnapSmart"
            android:exported="false" />
        <activity
            android:name=".activity.bucketize.BucketViewActivity"
            android:theme="@style/Base.Theme.SnapSmart"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Base.Theme.SnapSmart"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
